@import "tailwindcss";

@theme {
    --color-people-color-light: #1a385a;
    --color-people-color-medium: #011929;
    --color-people-color-dark: #011321;
    --color-people-color-aqua: #5FD8EB;
}

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
